{
  "extends": [
    "plugin:vue/recommended"
  ],
//  "rules": {
//    "no-new": "off"
//  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "plugins": ["html"]
}
